@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: rgb(29, 29, 29);
}


.form_replace_div {
  width: 700px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  color: white;
  font-size: 25px;
  position: absolute;
  margin-top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.form_replace_div input[type="button"] {
  transition: all 0.4s;
  position: relative;
  top: -10px;
}

.form_replace_div span {
  display: inline-block;
  padding-bottom: 6px;
}

.form_replace_div input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  background: rgb(29, 29, 29);
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;
}

.form_replace_div input[type="button"]:hover {
  background: green;
}

.form_replace_div input::placeholder {
  color: white;
}

.form_replace_div input[type="button"] {
  background: black;
  border: none;
  color: white;
  outline: none;
  border-radius: 5px;
  padding-bottom: 12px;
  cursor: pointer;
}

.user-details {
  margin-bottom: 50px;
}

.form_replace_div input {
  width: 200px;
  padding: 10px;
}

.login_form_replace_div {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding-bottom: 60px;
}

.login_form_replace_div .user-details {
  margin-bottom: 20px;
}

.login_form_replace_div input {
  width: 300px;
}

#login {
  position: relative;
  top: 20px;
}

.delete_btn {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: #212121;
  border: none;
  font: inherit;
  color: #e8e8e8;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  overflow: hidden;
  transition: all 0.3s ease cubic-bezier(0.23, 1, 0.320, 1);
}

.delete_btn span {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.delete_btn::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  translate: 0 105%;
  background-color: #F53844;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.delete_btn svg {
  width: 32px;
  height: 32px;
  fill: #F53844;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.delete_btn:hover {
  animation: shake 0.2s linear 1;
}

.delete_btn:hover::before {
  translate: 0 0;
}

.delete_btn:hover svg {
  fill: #e8e8e8;
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }

  33% {
    rotate: 10deg;
  }

  66% {
    rotate: -10deg;
  }

  100% {
    rotate: 10deg;
  }
}




#alert_main_div {
  width: 400px;
  height: 150px;
  background: rgb(46, 46, 46);
  color: white;
  position: fixed;
  transition: all 0.3s;
  left: 1%;
  top: -100%;
  transform: translateX(-1%);
  border-radius: 10px;
  padding: 20px;
  z-index: 9999;
}

#alert_main_div .alert_f_p {
  text-align: center;
}

#alert_s_p {
  text-align: center;
  padding-top: 30px;
}

.fa-circle-xmark {
  position: absolute;
  margin: -10px 0px 0px 40px;
  font-size: 20px;
  cursor: pointer;
}














#move_btn {
  position: absolute;
  left: 70%;
  transform: translateX(-70%);
  margin-top: 20px;
  color: rgb(0, 0, 0);
  background-color: white;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  cursor: pointer;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
}






.checkbox-wrapper-10 .tgl {
  display: none;
}

.checkbox-wrapper-10 .tgl,
.checkbox-wrapper-10 .tgl:after,
.checkbox-wrapper-10 .tgl:before,
.checkbox-wrapper-10 .tgl *,
.checkbox-wrapper-10 .tgl *:after,
.checkbox-wrapper-10 .tgl *:before,
.checkbox-wrapper-10 .tgl+.tgl-btn {
  box-sizing: border-box;
}

.checkbox-wrapper-10 .tgl::-moz-selection,
.checkbox-wrapper-10 .tgl:after::-moz-selection,
.checkbox-wrapper-10 .tgl:before::-moz-selection,
.checkbox-wrapper-10 .tgl *::-moz-selection,
.checkbox-wrapper-10 .tgl *:after::-moz-selection,
.checkbox-wrapper-10 .tgl *:before::-moz-selection,
.checkbox-wrapper-10 .tgl+.tgl-btn::-moz-selection,
.checkbox-wrapper-10 .tgl::selection,
.checkbox-wrapper-10 .tgl:after::selection,
.checkbox-wrapper-10 .tgl:before::selection,
.checkbox-wrapper-10 .tgl *::selection,
.checkbox-wrapper-10 .tgl *:after::selection,
.checkbox-wrapper-10 .tgl *:before::selection,
.checkbox-wrapper-10 .tgl+.tgl-btn::selection {
  background: none;
}

.checkbox-wrapper-10 .tgl+.tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-10 .tgl+.tgl-btn:after,
.checkbox-wrapper-10 .tgl+.tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.checkbox-wrapper-10 .tgl+.tgl-btn:after {
  left: 0;
}

.checkbox-wrapper-10 .tgl+.tgl-btn:before {
  display: none;
}

.checkbox-wrapper-10 .tgl:checked+.tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-10 .tgl-flip+.tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}

.checkbox-wrapper-10 .tgl-flip+.tgl-btn:after,
.checkbox-wrapper-10 .tgl-flip+.tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
}

.checkbox-wrapper-10 .tgl-flip+.tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  transform: rotateY(-180deg);
}

.checkbox-wrapper-10 .tgl-flip+.tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}

.checkbox-wrapper-10 .tgl-flip+.tgl-btn:active:before {
  transform: rotateY(-20deg);
}

.checkbox-wrapper-10 .tgl-flip:checked+.tgl-btn:before {
  transform: rotateY(180deg);
}

.checkbox-wrapper-10 .tgl-flip:checked+.tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}

.checkbox-wrapper-10 .tgl-flip:checked+.tgl-btn:active:after {
  transform: rotateY(20deg);
}